:root {
  --ifm-color-primary: #1a73e8;
  --ifm-color-primary-dark: #1765cc;
  --ifm-color-primary-darker: #155fbf;
  --ifm-color-primary-darkest: #114e9d;
  --ifm-color-primary-light: #3a87ec;
  --ifm-color-primary-lighter: #4a91ee;
  --ifm-color-primary-lightest: #78aff3;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #4a91ee;
}
